@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto+Condensed');

* {
  box-sizing: border-box;
}

body,html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

.nav {
  padding: 60px 60px;
}

.nav a {
  color: black;
  border-bottom: 2px solid #ffefd5;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
}

.nav a:hover {
  animation:
    fillIn 300ms ease-out;
  box-shadow: inset 50px 0px #ffefd5;
}

.active {

}

@keyframes fillIn {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: inset 50px 0px #ffefd5;
  }
}

h1 {
  font-size: 5em;
}

.gallery img {
  width: 100%;
  margin: 50px 0px;
}

.contact a {
  cursor: pointer;
  color: #5f9ea0;
}

svg, path {
  position: absolute;
  left: -100px;
  top: -100px;
  stroke: #ffefd5;
  z-index: -1;
  fill: none;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 2000;
  animation: strokeHeart 2s ease-out;
}

@keyframes strokeHeart {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@media only screen and (max-width: 1000px) {
  svg, path {
    position: absolute;
    left: 0;
    top: 0;
  }
}
