@import url('https://fonts.googleapis.com/css?family=Limelight|Monoton');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

body{
	background: linear-gradient(to right, rgb(227, 240, 255),#ecf3fb);
	padding: 20px;
}

#left, #right, #top, #bottom{
	position: fixed;
    background:  linear-gradient(#ffc3ca, #b397b8, #8a86be);
    margin: 30px;
}

#left, #right{
	top:0;
	bottom: 0;
	width: 15px;
}

#left{
	left:0;
}

#right{
	right:0;
	background:  linear-gradient( #8a86be, #b397b8, #ffc3ca);
}

#top, #bottom{
	left: 0;
	right: 0;
	height: 15px;
	background:  linear-gradient(to right, #ffc3ca, #b397b8, #8a86be);
}

#top{
	top: 0;
}

#bottom{
	bottom: 0;
	background:  linear-gradient(to left, #ffc3ca, #b397b8, #8a86be);
}

#title{
	position: absolute;
	top: 50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 150px;
	font-family: 'Monoton', cursive;
	color: #8a86be;
	cursor: pointer;
}

.links{
	position: absolute;
	width: 50px;
	top:83%;
	left: 70px;
	font-size: 30px;
	color:rgb(67, 70, 144);
	font-family: 'Archivo Black', sans-serif;
}

a:active, a:visited{
	color: #8a86be;
}

a:hover{
	text-shadow: 2px 2px #ffc3ca;
}

#title:hover{
	text-shadow: 3px 3px #ffc3ca;
}